@using System.Reflection
@using CrazyBooks_Models.Models
@using CrazyBooks_Models.ViewModels
@model SubjectsUpsertVM
@{
ViewData["Title"] = "@Model.GeneralViewInfos.PageTitle";
}

<div class="row justify-content-center view-upsert">
    <div class="col-8">
        <div class="h1 text-primary mb-4">@Model.GeneralViewInfos.PageHeading</div>
        <div class="hstack gap-4 mb-2 page-actions">
            @foreach (PageLinkInfos pli in Model.GeneralViewInfos.Links)
            {
                @if (pli.UsesId)
                {
                    ViewData["Id"] = Model.Id;
                    <partial name="_PageLinkWithId" model="pli" view-data="ViewData" />
                }
                else
                {
                    <partial name="_PageLink" model="pli" />
                }
            }
        </div>
        <form asp-action="Upsert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsCreate" />
            <input type="hidden" asp-for="Subject.Id" />
            <div class="form-floating mb-3">
                <input asp-for="Subject.Name" class="form-control" id="Name" placeholder="@Html.DisplayNameFor(model => model.Subject.Name)" />
                <label for="Name" asp-for="Subject.Name"></label>
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">@Model.GeneralViewInfos.SubmitButtonText</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
