<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - CrazyBooks</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="~/fontawesome/css/all.css" />
  @* Le CSS personnalisé devrait toujours être en dernier*@
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/imagesLayout/tile.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                @* Ajout ici du dropDown Menu de Boostrap*@
                @*ATTENTION: non fonctionnel sans l'ajout du script en bas*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admininistration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-controller="Subjects" asp-action="Index">Manage Subjects</a></li>
                        <li><a class="dropdown-item" asp-controller="Books" asp-action="Index">Manage Books</a></li>
                        <li><a class="dropdown-item" asp-controller="Publishers" asp-action="Index">Manage Publishers</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Authors" asp-action="Index">Manage Authors</a></li>

                    </ul>
                </li>
                @* Ajout ici du dropDown Menu de Boostrap*@
                @*ATTENTION: non fonctionnel sans l'ajout du script en bas*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Templates V2
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-controller="SubjectsTemplatesV2" asp-action="Index">Manage Subjects</a></li>
                        <li><a class="dropdown-item" asp-controller="BooksTemplatesV2" asp-action="Index">Manage Books</a></li>
                        <li><a class="dropdown-item" asp-controller="PublishersTemplatesV2" asp-action="Index">Manage Publishers</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="AuthorsTemplatesV2" asp-action="Index">Manage Authors</a></li>

                    </ul>
                </li>
            </ul>
          @*Insérez la PartialView SetLanguage ICI*@
          <div class="col-md-2 text-right">
            @await Html.PartialAsync("_SelectLanguage")
          </div>

        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-dark bg-light">
    <div class="container">
      &copy; 2022 - CrazyBooks - Valérie Turgeon <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @* Le script personnalisé devrait toujours être en dernier*@
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
